/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
  padding: 15px 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-size: 18px;
}

header:hover {
  background-color: black;
}

.logo img {
  border-radius: 90px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff9800;
}

/* Footer */
footer {
  background-color: #161315;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff9800;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section ul li,
.footer-section a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a:hover {
  color: #ff9800;
}

.footer-bottom {
  text-align: center;
  background-color: #008080;
  padding: 10px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    background: #008080;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    display: none;
  }

  nav ul.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
